<div class="category-details">
  <div class="my-4">
    <strong class="text-lg font-semibold">Name:</strong>
    <p class="text-gray-700"><%= category.name %></p>
  </div>

  <div class="my-4">
    <strong class="text-lg font-semibold">Description:</strong>
    <p class="text-gray-700"><%= category.description || "No description provided" %></p>
  </div>
</div>